@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite/dist/flowbite.css';

body {
    background-color: black;
}

@font-face {
    font-family: 'Moonhouse';
    src: url('/fonts/moonhouse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff'),
    url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
    url('/fonts/Poppins-Bold.woff') format('woff'),
    url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Italic.woff2') format('woff2'),
    url('/fonts/Poppins-Italic.woff') format('woff'),
    url('/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-BoldItalic.woff2') format('woff2'),
    url('/fonts/Poppins-BoldItalic.woff') format('woff'),
    url('/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cursor-pointer-custom {
    cursor: pointer;
}

/* -----> Estilos para la barra de desplazamiento <----- */

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #353535;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(123, 123, 123); 
    border-radius: 10px;
}

/* -----> *******************  Estilos para alertas ********************* <----- */

.swal2-popup {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #ffffff !important;
}

.swal2-title {
    color: #ec4899 !important;
}

.swal2-html-container {
    color: #ffffff !important;
}

.swal2-confirm, .swal2-cancel {
    background-color: #ff56ab !important;
    border-color: #ff56ab !important;
    color: white !important;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}

.swal2-confirm:hover, .swal2-cancel:hover {
    background-color: #f53696 !important;
    border-color: #f53696 !important;
}

.swal2-confirm:hover .swal2-styled, .swal2-cancel:hover .swal2-styled {
    transform: scale(1.05);
}

.swal2-styled {
    display: inline-block;
    transition: transform 0.3s;
}

/* Elimina el padding derecho del body cuando se muestra el alert */
.swal2-shown {
    padding-right: 0 !important;
}
